# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: LPRP.fr
#email: remi+web@via.ecp.fr
copyright: (c) 2000-2023  Rémi Peyronnet

# Write an awesome description for your new site here. You can edit this
# line in _config.yml. It will appear in your document head meta (for
# Google search results) and in your feed.xml site description.
description: La Page de Rémi Peyronnet
logo: /assets/img/logo-lprp-white.png

card_default: /assets/img/logo-lprp-white.png


baseurl: "" # the subpath of your site, e.g. /blog
# url: "" # the base hostname & protocol for your site, e.g. http://example.com - overriden with serve
permalink: /:year/:month/:title/

include: 
  - _pages/

keep_files:
  - libs/
  - files/
  - search-lunr-index.json
  - search-lunr-index.json.gz
  - NOT-BACKUPED

exclude:
  - vendor/
  - files/latest-export
  - unused-files
  - READMED.md
  - .jekyll-cache/
  - .sass-cache/
  - jsconfig.json
  - serve.sh
  - build.sh
  - remove-unused-files.sh
  - serve.log
  - respawn-serve.sh
  - command-build.sh
  - container-start.sh
  - "*.gem"
  
twitter_username: remipeyronnet
github_username:  rpeyron

social:
  name: Rémi Peyronnet
  links:
#    - https://twitter.com/remipeyronnet
    - https://www.thingiverse.com/rpeyron/
    - https://www.linkedin.com/in/remipeyronnet/
    - https://github.com/rpeyron

piwik:
  url: https://lprp.containers.piwik.pro
  siteId: fe74a41e-504e-4751-9424-e29f60df18e7
  # must be renewed each 90 days
  topArticles: https://lprp.piwik.pro/analytics/#/sharing/aHR0cHM6Ly9wdWJsaWMtcC1zd2UucGl3aWsucHJvL2Jsb2JzL3NoYXJlcy9uYWZHWnhNdmEzMm5kdTVudGdGcGhKLmpzb24=/
  
# Analytics replacement for Piwik
cloudflare:
  production:
    token: 865cec8dcd2049c989f5624e2eb2f45f
  development:
    token: ae5912f804af40469ad354159ebdb003

umami:
  script: https://stats.lprp.fr/script.js
  production: cda71346-e5bb-4821-813b-67e4a1b39270
  development: 00826b51-21fc-4c7f-ac39-89270837ee3f

umami_cloud:
  script: https://cloud.umami.is/script.js
  host: https://cloud.umami.is
  production: 325443e9-28ca-43a8-964a-bb2688c1ab15


# Build settings
theme: minima
#plugins:
#  - jekyll-feed
#  - jekyll-paginate
#  - jekyll-sitemap
#  - jekyll-archives
#  - jekyll-seo-tag
#  - jekyll-include-cache

markdown: kramdown
mathjax: true

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    default_lang: shell
    
sass:
  sass_dir: _sass
  style: compressed

show_excerpts: true
paginate: 16
paginate_path: "/page/:num"

seo_paginator_message: "Page %<current>s sur %<total>s pour "


menu:
  - slug: home
    icon: fas.fa-home
  - slug: blog
    icon: far.fa-calendar-alt
    items:
      - slug: blog
        icon: far.fa-calendar-alt
      - url: /search/?q=*
        icon: fas.fa-th
        title: 
          fr: Tous
          en: All posts
        alt: All
      - url: /featured/
        icon: fas.fa-gem
        title: 
          fr: Mis en avant
          en: Featured
        alt: Featured
      - url: /top-articles/
        icon: fas.fa-chart-bar
        title: 
          fr: Les plus vus
          en: Top viewed
        alt: Top
      - divider: divider
      - category: Général
      - category: Informatique
      - category: Domotique
      - category: 3D
      - category: Divers
      - category: Télécoms
      - category: Avis Conso
      - category: Humeurs
      - category: Politique
  - slug: logiciels
    icon: fas.fa-wrench
    items:
      - slug: rphoto
        icon: fas.fa-camera
      - slug: xmltreenav
        icon: fas.fa-code
      - slug: libxmldiff
        icon: fas.fa-cog
      - slug: gimp_plugin
        icon: fas.fa-magic
      - slug: dokuwikibutton
        icon: fas.fa-anchor
      - slug: dokuwikixslt
        icon: fas.fa-binoculars
  - slug: galerie
    icon: far.fa-image
  - slug: cv
    icon: far.fa-user
  - type: langs
  - url: /search/
    icon: fas.fa-search
    alt: Search

jekyll-archives:
  enabled: [year, month, categories, tags]
  slug_mode: latin
  layout: archive
  permalinks:
    year: '/:year/'
    month: '/:year/:month/'
    day: '/:year/:month/:day/'
    tag: '/tag/:name/'
    category: '/category/:name/'

lang: "fr"

defaults:
  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      #render_with_liquid: false
      toc: true
      author: 'Rémi Peyronnet'
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      permalink: "/:basename/"
      disable-comments: true
      author: 'Rémi Peyronnet'

  # drafts
  - scope:
      path: "_drafts"
    values:
      layout: post
      hidden: true

picture:
  suppress_warnings: true
  fast_build: true

show_drafts: true

jekyll_admin:
  homepage: drafts
  sidebarFrames:
   - title: Self
     url: /
     icon: fire
  header_buttons:
   - title: Upload file 2026/
     url: '/admin/staticfiles/files/2026'
     icon: upload
   - title: VSCode
     url: 'https://lprp-vscode.local.lprp.fr/?folder=/work'
     icon: code
   - title: Stats
     icon: line-chart
     url: 'https://stats.lprp.fr/websites/cda71346-e5bb-4821-813b-67e4a1b39270?date=30day'
     items:
      - title: Umami
        url: 'https://stats.lprp.fr/websites/cda71346-e5bb-4821-813b-67e4a1b39270?date=30day'
        icon: line-chart
      - title: Umami (self-hosted)
        url: 'https://cloud.umami.is/analytics/eu/websites/325443e9-28ca-43a8-964a-bb2688c1ab15?date=30day'
        icon: line-chart
      - title: GoatCounter
        url: 'https://lprp.goatcounter.com/'
        icon: line-chart
      - title: Cloudflare
        url: 'https://dash.cloudflare.com/8e2a15236e1a06169c4cce49540c1514/web-analytics/overview/visits?siteTag~in=cc2e0e97dc124612a62c672d6ae1629c&excludeBots=Yes&time-window=43200'
        icon: cloud
      - title: Piwik
        url: 'https://lprp.piwik.pro/analytics/#/fe74a41e-504e-4751-9424-e29f60df18e7/dashboards/0bc79990-3011-43a3-9923-45b83171ea74/'
        icon: line-chart
   - title: Pictures
     icon: image
     items:
      - title: Pixabay
        url: 'https://pixabay.com/'
        icon: image
      - title: Bing-Creator
        url: https://www.bing.com/images/create?FORM=GENILP
        icon: image
      - title: Zoo
        url: https://zoo.replicate.dev
        icon: image
   - title: Tools
     icon: wrench
     items:
     - title: Web-check
       url: 'https://web-check.xyz/check/https%3A%2F%2Flprp.fr'
       icon: check
   - title: LPRP.fr
     url: 'https://www.lprp.fr'
   - title: GitHub
     url: 'https://www.github.com/rpeyron/rpeyron.github.io'
     icon: github
   - title: ''
     api: action/shutdown
     class: btn-round
     icon: power-off
  force_show_drafts: true
  new_meta_defaults:
    date: ''
    image: ''
    lang: 'fr'
    tags: []
    categories: []  
    #last_modified_at: ''
  #editors: [TinyMDE, TextArea, SimpleMDE, TUI_WW, TUI_SS, TUI_Tab]
  editors: [TinyMDE]
  default_editor: TinyMDE
  commandbar:
    styles:
      'Image center': '.img-center'
      'Image center 80% (/60/40/30/20)': '.img-center .mw80'
      'Image right': '.img-right'
      'Image left': '.img-left'
      'Clear float': '.clear-float'
      'Center': '.center'
      'Font Large': '.font-large'
      'Font XLarge': '.font-xlarge'
      'Button (green/red/blue/download)': '.base-button'
      'Notice note': '.notice-note'
      'Frame red': '.frame-red'
    shortcuts:
      'Jekyll Link (relative url)': "{{ '<published url>' | relative_url }}"
      'Jekyll Link (post file)': "{% link _posts/.....md %}"
      'Asciimath': '$$`  "rachat" =  "intérêts" * ("valorisation" / ("valorisation" – "capital") )   `$$'
      'Details': "<p><details markdown='1'><summary>Cliquez pour voir le détail</summary>\n\n...\n\n</details></p>"
  customFieldKeys: 
    - 'last_modified'
    - 'author'
    - 'slug'
    - 'permalink'
    - 'toc'
    - 'lang'
    - 'lang-ref'
    - 'lang-translations'
    - 'csp'
    - 'modules'
    - 'google-fonts'
    - 'ia'
 
