
{% unless page.disable-comments or site.disable-comments %}
<section class="comments">
<hr><br>

{% comment %}
<script src="https://giscus.app/client.js"
{% endcomment %}
<script src="{{ site.baseurl }}/libs/giscus_client.js"
        data-giscus-origin="https://giscus.app"
        data-base-path="{{ site.baseurl }}"
        data-repo="rpeyron/rpeyron.github.io"
        data-repo-id="R_kgDOIVZ3BQ"
        data-category="Q&A"
        data-category-id="DIC_kwDOIVZ3Bc4CSRMx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="{{ page.lang | default: site.lang }}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

<div class="comments_help">
<span class="lang-en">Comments are powered by Github. You must authenticate to GitHub before commenting. Create an account if you haven't one, it only takes 1 minute!</span>
<span class="lang-fr">Les commentaires sont hébergés sur GitHub. Il vous faudra vous authentifier sur GitHub pour pouvoir commenter. Si vous n'avez pas de compte, une minute suffit à en créer un !</span>
</div>

</section>

{% endunless %}