<footer class="site-footer h-card">

  <div class="wrapper">

    <p>
      {% comment %}
      <span class="copyright">{{- site.copyright | escape -}}</span>
      {% endcomment %}
      <span class="copyright">&copy; 2000 - {{ 'now' | date: "%Y" }} - Rémi Peyronnet</span>
      <span> - </span>
      <a href="{% link _pages/politique-de-confidentialite.md %}" class="lang-fr" style="color: grey">Mentions légales</a>
      <a href="{% link _pages/politique-de-confidentialite.md %}" class="lang-en" style="color: grey">Legal notices (fr)</a>
    </p>

  </div>

</footer>
