.site-footer {
    background-color: var(--title-background);
    color: var(--title-background-fg-color);
    padding: 10px 0;
    text-align: center;
    font-size: smaller;
  
    p {
      margin: 0;
    }
  }
  